# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs/
*.log

# Datasets (bỏ qua ảnh, giữ metadata)
data/flowers/
data/processed/
data/*.tgz
data/*.zip

# Giữ lại các file thông tin dataset
!data/flowernames.txt
!data/imagelabels.mat
!data/setid.mat

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db
