# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Data and models (large files)
data/
models/
src/saved_models/
*.h5
*.keras
*.ckpt
*.pb

# Logs
logs/
checkpoints/

# IDE
.vscode/
.idea/
